.idea
target
deploy
*.iml
*.zip
*.lock

.classpath
.factorypath
.project
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.jdt.apt.core.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.m2e.core.prefs
.vscode/launch.json

proxy/node_modules
/proxy/src-bak.tar.gz
api/localStorage/service
api/localStorage/applications.db

